* {
    box-sizing: border-box;
    /* text-align: center; */
  }

  /* .top {
    clear: both;     /* clears both left and right floats 
    overflow: auto;  /* keeps containers inside of their containers (?) 
    width: 80%;
    background-color: #eee;
  } */

/* .h-top {
    width: 960px;
    float: center;
}

.h-name {
    background-color: darkgreen;
    color: white;
    padding: 20px;
    position: relative;
    left: 250px;
    width: 300px;
    font-size: 30px;
}

.h-pages {

    position: relative;
    float: right;
} */

    /* clear: both; */
    /* overflow: auto; */

.heading {
    width: 960px;
    margin: auto;
}

/* .nav-bar {
    color: gray;
} */

.nav-name {
    position: relative;
    float: left;
    padding: 20px;
    color: white;
    background-color: darkgreen;
}

.nav-links {
    /* clear: both; */
    /* position: absolute; */
    float: right;
    font-size: 17px;
    padding-top: 52px;
}

.atmosphere {
    clear: both;
    width: 100%;
    background-image: url("../images/fabric_1.png");
    /* margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0; */
    /* background-image: linear-gradient(red, white); */
}

.main-content{
    clear: both;
    position: relative;
    width: 960px;
    margin: auto;
    background-color: white;
    padding: 30px;
    margin-top: -20px;
}

.content-inner {
    clear: both;
    position: relative;
    width: 100%;
    margin: auto;
    /* padding:  */
}

.img-profile {
    clear: both;
    position: relative;
    padding: 2 20 20 0;
}

/* section {
    padding: 20px;
    margin-bottom: 20px;
} */

.footing {
    width: 100%;
    margin: auto;
}

.small-bar {
    position: relative;
    height: 5px;
    background-color: brown;
}

.big-bar {
    position: relative;
    height: 50px;
    background-color: gray;
}

.copyright {
    margin: auto;
    text-align: center;
    padding: 14px;
}
